<div phx-window-keydown="keydown" id="parent_div" phx-hook="ShowInvalidTextBox" class="flex flex-wrap justify-center h-screen w-screen">
  <%= WordleCloneWeb.WordView.text_input_grid(@changeset) %>
  <%= WordleCloneWeb.WordView.keyboard() %>
</div>
